@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald:wght@400;500;600;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

h1, h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

header{
    background-color: #2E323F;
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

.col{
    text-align: center;
}

.col__title{
    font-size: 1.3rem;
}

.col__text{
    font-size: 1rem;
}

/*
 -------
 ESTILOS NAV 
 ----------
 */

.nav__list{
    list-style: none;
}

.nav__link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.782);
}

.nav__list--button{
    border: none;
    border-radius: 100px;
    padding: 0.2em 1em;
    background-color: #A59678;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

/*
 -------
 ESTILOS SECTION HERO 
 ----------
 */

.hero{
    background-color: #3B4050;
    padding: 2rem 0;
}

.hero__title{
    font-size: 4rem;
    line-height: 4.1rem;
    color: #FFFFFF;
}

.title--color{
    color: #A59678;
}

.hero__text{
    font-size: 1.1rem;
    line-height: 1.5rem;
    color:#ffffffc5;
    margin-bottom: 1rem;
}

.hero__button{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    background-color: #A59678;
    padding: 0.2em 1.5em;
    color: #FFFFFF;
}

/* 
 ------
 ESTILOS SECTION-1
 ------
*/

.section-1{
    background-color: #e8e8ea;
    padding: 2rem 0;
}

.col__title--section-1{
    color: #A59678;
}

.col__text--section-1{
    color: rgba(0, 0, 0, 0.795);
    padding: 0.8rem 0;
}
@media (min-width: 1000px){
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        height: auto;
        position: relative;
    }
}